.userTable {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: 2rem 0;
  padding: 20px;
  border: 1px solid #d9e1e7cc;
  border-radius: 10px;
}

table,
tr,
td {
  border-collapse: separade;
  border-spacing: 0 10px;
  transition: all ease 0.6s;
}
table {
  width: 100%;
}

th {
  background-color: #0093c9;
  padding: 5px;
  color: white;
  font-weight: 400;
  text-align: center;
}

th,
td {
  text-align: center;
}

td {
  background-color: #f8f8f8;
  border: none;
  padding: 10px;
  width: 80px;
}

tr:hover {
  transform: scale(1.04);
}

.changeMail {
  background-color: #5bc0de;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
  transition: all ease 0.6s;
}

.changeMail:hover {
  background-color: #367081;
}

button:hover {
  cursor: pointer;
}

.resetBtn {
  background-color: #f0ad4e;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 1rem;
  transition: all ease 0.6s;
}

.resetBtn:hover {
  background-color: #9c7032;
}

.infoTable {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.infoTableBtns input {
  border: 1px solid #d9e1e7;
  padding: 10px;
  color: black;
  border-radius: 10px;
}

.infoTableBtns select {
  border: none;
  padding: 10px;
  border: 1px solid #d9e1e7;
  border-radius: 10px;
  margin-left: 20px;
}

.deleteButton img {
  border: none;
}

.checkDelete {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #d9e1e7cc;
  border-radius: 10px;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.checkDelete h5 {
  margin: 0.5rem 0;
}

.cancelUser {
  background-color: #809fb8;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 140px;
  color: white;
}

.checkBtns {
  margin: 1rem 0;
}

.emailArea {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table p img {
  cursor: pointer;
}

svg {
    stroke: transparent;
    stroke-width: 0px;
}
